 <mat-nav-list>
    <mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <span>Admin</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>assignment</mat-icon>
        <span>Reception</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon> local_hospital</mat-icon>
        <span>Surgery</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>perm_contact_calendar</mat-icon>
        <span>Andrology</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>perm_contact_calendar</mat-icon>
        <span>Embryology</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon> contacts</mat-icon> <span>Configration</span>
    </mat-list-item>
</mat-nav-list> 