
mat-nav-list {
    width: 250px;
    background: #f4f4f4;
    height: 100vh;
  }
  
  mat-list-item {
    cursor: pointer;
   
  }

  mat-list-item:hover{
    color: #F25B5B;
  }

  mat-icon{
    margin-right: 10px;
  }

  .summ{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  