<div>
  <mat-toolbar color="primary">
    <mat-icon class="mr-1"> local_dining</mat-icon>
    <span>Fertility</span>
    <span class="spacer"></span>
    <div class="header-info">
      <span>Kate Russell</span>
      <mat-icon>person</mat-icon>
    </div>
  </mat-toolbar>
  
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <div class="p-2">
        <div class="summ border-bott">
          <h2 class="m-2">Summary</h2>
          <div >
            <div class="tabs">
              <div class="tab" [class.active]="selectedTab === 'day'" (click)="selectTab('day')">Day</div>
              <div class="tab" [class.active]="selectedTab === 'month'" (click)="selectTab('month')">Month</div>
              <div class="tab" [class.active]="selectedTab === 'year'" (click)="selectTab('year')">Year</div>
            </div>

            <mat-icon>date_range</mat-icon>
            <span class="ml-1">17th April 2014</span>
          </div>

        </div>
        <div class="row mt-4">
          <div class="col-md-3 col-12" *ngFor="let item of summaryItems">
            <div class="card mb-4">
              <span mat-card-avatar class="example-header-image">
                <i [ngClass]="item.icon" class="icon"></i>
              </span>
              <div>
                <p>{{ item.title }}</p>
                <p class="val">{{ item.value }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3">
            <div class="chart">
              <canvas baseChart [data]="matchedChartData" [options]="chartOptions" [type]="'doughnut'">
              </canvas>
              <h3>Witness Report - Matched</h3>
            </div>
          </div>
          <div class="col-md-3">
            <div class="chart">
              <canvas baseChart [data]="mismatchedChartData" [options]="chartOptions" [type]="'doughnut'">
              </canvas>
              <h3>Witness Report - Mismatched</h3>
            </div>
          </div>
          <div class="col-md-3">
            <div class="chart mb-4">
              <canvas baseChart [data]="semenCollectionChartData" [options]="chartOptions" [type]="'doughnut'">
              </canvas>
              <h3>Semen Collection</h3>
            </div>
          </div>
          <div class="col-md-3">
            <div style="width: 50%; padding-left: 20px;">
              <div style="display: flex; justify-content: space-between;">
                <div *ngIf="semenCollectionData.checkedIn" class="border1">
                  <h4 class="checked">Checked-In</h4>
                  <p class="border-bott">New: <br> <strong>{{semenCollectionData.checkedIn.new}}%</strong></p>
                  <div>
                    <p class="follow">Follow Up:</p> <strong>{{semenCollectionData.checkedIn.followUp}}%</strong>
                  </div>
                </div>
                <div>
                  <h4>Scheduled</h4>
                  <p class="border-bott">New: <br> <strong>{{semenCollectionData.scheduled.new}}%</strong></p>
                  <div>
                    <p class="follow">Follow Up:</p><strong>{{semenCollectionData.scheduled.followUp}}%</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <app-table></app-table>
        </div>
      </div>

    </div>
  </div>
</div>